@{
    //page title
    ViewBag.Title = T("Admin.AppVersions").Text;
    var defaultGridPageSize = EngineContext.Current.Resolve<Nut.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nut.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}

<h3>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb pull-right">
        <li>
            <a href="#">@T("Admin.Home")</a>
        </li>
        <li class="active">
            @T("Admin.AppVersions")
        </li>
    </ol>
    @T("Admin.AppVersions")
    <!-- Small text for title-->
    @*<span class="text-sm hidden-xs">this is online Users.</span>*@
    <!-- Breadcrumb below title-->
</h3>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info">@T("Admin.Common.AddNew")</a>
</p>

<!-- START table-responsive-->
<div class="table-responsive b0">
    <div id="appversion-grid"></div>

</div>
<!-- END table-responsive -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#appversion-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "AppVersion"))",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Id",
                title: "@T("Admin.AppVersions.Fields.Id")"
            }, {
                field: "VersionNum",
                title: "@T("Admin.AppVersions.Fields.VersionNum")"
            }, {
                field: "Version",
                title: "@T("Admin.AppVersions.Fields.Version")"
            }, {
                field: "APPName",
                title: "@T("Admin.AppVersions.Fields.APPName")"
            }, {
                field: "Description",
                title: "@T("Admin.AppVersions.Fields.Description")"
            }, {
                field: "Deleted",
                title: "@T("Admin.AppVersions.Fields.Deleted")",
                template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Deleted#.gif" />'
            }, {
                field: "CreateON",
                title: "@T("Admin.AppVersions.Fields.CreateON")",
                width: 200,
                type: "date",
                format: "{0:G}"
            }, {
                field: "Id",
                title: "@T("Admin.Common.Edit")",
                width: 220,
                template: '<a class="btn btn-sm btn-default" href="Edit/#=Id#">@T("Admin.Common.Edit")</a>&nbsp;&nbsp;<a class="btn btn-sm btn-default" href="javascript:void(0);" onclick="DeleteAppVersion(#=Id#)">@T("Admin.Common.Delete")</a>'
            }]
        });
    });

    function DeleteAppVersion(id) {
        if (confirm('@T("Common.DeleteConfirmation")')) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@(Url.Action("Delete", "AppVersion"))',
                data: { "id": id }
            })
            .done(function (data, status, xhr) {
                if (data.success) {
                    alert(data.message);
                    window.document.location.reload();
                } else {
                    alert(data.message);
                }
            })
            .fail(function (xhr, status, error) {
                alert('@T("Common.Error")');
            })
            .always(function () {

            });
        }
    }
</script>
